[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv
[submodule "deps/picohttpparser"]
	path = deps/picohttpparser
	url = https://github.com/h2o/picohttpparser
[submodule "deps/klib"]
	path = deps/klib
	url = https://github.com/attractivechaos/klib
